<form >

  <div class="form-group">
    <label>Location IN </label>

    <input type="text" class="form-control"
           placeholder="Addres:string Source"
           id="addresString"
           name="adresIN"
           [(ngModel)]="addresString"
           [value]="addresString"
    >
    <label>Location OUT </label>
    <input type="text" class="form-control"
           placeholder="Addres:string Source"
           id="addresString2"
           name="adresOUT"
           [(ngModel)]="addresString2"
           [value]="addresString2"
    >

  </div>
  <div *ngIf="adresLine1">
    <h4>Computed geodata adress - source</h4>
    <p [ngModel]="adresLine1" [name]="adresLine1">{{adresLine1}}</p>
  </div>
  <div *ngIf="adresLine2">
    <h4>Computed geodata adress - destination</h4>
    <p [ngModel]="adresLine2" [name]="adresLine2">{{adresLine2}}</p>
  </div>



  <button type="button" (click)="getCoordinates()">Get coordinates</button>




</form>

<hr>

<h4> Coordinates -source</h4>
<input type="text" placeholder="Latitude" name="lati" value="{{orgin.lat}}">
<input type="text" placeholder="Longitude" name="long" value="{{orgin.lat}}">


<h4> Coordinates -destination</h4>
<input type="text" placeholder="Latitude" name="lati" value="{{destination.lat}}">
<input type="text" placeholder="Longitude" name="long" value="{{destination.lng}}">




<hr>


<div *ngIf="route" class="routeParams">


  <div *ngFor="let troute of route">
    <hr>
    <input type="text" value="{{troute.distance}}">

    <input type="text" value="{{troute.time}}">

  </div>


</div>
<agm-map></agm-map>
<!--<agm-map [latitude]="lati"] [longitude]="long" ]></agm-map>-->
<!--<agm-map [latitude]="lati1"] [longitude]="long1" ]></agm-map>-->
